.loader
{
    display: table;
    margin: 2rem auto;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    border: 4px solid var( --marvel-gray );
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: .5s spin linear infinite;
}


@keyframes spin
{
    from { transform: rotate( 0deg ); }
    to { transform: rotate( 360deg ); }
}