.title
{
    background-color: var( --marvel-red );
    color: #FFF;
    font-size: 10vmin;
    padding: .5vmin 2vmin;
    display: table;
    margin: 3rem auto 4rem;
    font-family: Roboto;
    border: 2px solid #FFF;
    box-shadow: 0 0 20px 0 rgba( 0,0,0,.7 );
}

.title > span
{
    letter-spacing: -5px;
}